h5py==2.10.0
Keras==2.3.1
mat4py==0.4.2
matplotlib==3.1.2
numpy==1.18.1
pandas==1.0.0
scikit-learn==0.22.1
scipy==1.4.1
sklearn==0.0
tf-nightly==2.2.0.dev20200401 # Change to stable version when released
